body{
    background-color: rgb(119, 23, 23);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgba(233, 27, 27, 0.959);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}







